<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Discord.Net MyGet" value="https://www.myget.org/F/discord-net/api/v3/index.json" />
    <add key="RethoughtSolutions" value="http://198.211.117.150:5555/v3/index.json" />
  </packageSources>
</configuration>